*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
}
body{
    height: 100vh;
    background-color: black;
    color: aliceblue;
}

header{
    border: solid black;
    background-color: aqua;
    height: 10%;   
}

main{
    height: 85%;
}

form{
    height: 400px;
    width: 450px;
    margin: auto

}
fieldset{
    height: 100%;
    background-color: #0000ff40;
}

footer{
    border: solid black;
    height: 5%;
    
}
small{
    width: 100%;
    display: inline-block;
    text-align: center;
}

