/* seletor universal geralmente vai primeiro na linha de codigo css
    {
    color: white;

}

    {
    background: black;
}
*/





body{
    background-color: black;
}

h1 {
    color: aliceblue;
}

/* comentario - nao renderiza*/

.titulo{
    color: blue;
}

.texto {
    font-size: 60px;
}

#titulo-principal{
    color: brown;
    font-size: 120px;
}