
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "inter", sans-serif;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 205.5px;
    overflow: hidden;
}

header a img {
    width: 173.4px;
    margin-top: 10px;

}

main form {
    width: 450px;
}

main form h1 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

main form .inserir input {
    display: block;
    width: 100%;
    height: 38px;
    padding: 6px 12px;
    font-size: 16px;
    font-weight: 300;
    border: 0.25px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
}

main form .inserir input:focus {
 outline: none;
 box-shadow: 0px 0px 2.5px 2.5px #80bdff;
}

main form .lembrar label {
 font-weight: 200;  
 
}

main form .lembrar {  
 margin-bottom: 16px;

}

main form button {
 width: 100%;
 height: 42.5px;
 border: none;
 border-radius: 8px;
 color: #fff;
 background-color: #044cf4;
 cursor: pointer;
 transition: .25s;

}

main form button:hover {
    background-color: #072875;
}

main form .recuperar {
    font-weight: 300;
    margin-top: 10px;
}

main form .recuperar small {
    display: block;
    line-height: 2;

}

main form .recuperar small:first-child {
    font-weight: 600;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 200;
  margin-bottom: 10px;

}

footer nav ul {
  display: flex;  
  gap: 12px;
  list-style: none;
}

footer nav ul li a img {
  width: 25px;
  transition: 0.25s;

}

footer nav ul li a img:hover {
  transform: scale(1.5) ;

}

.caixa {
    width: 830px;
    height: 1000px;
    background-color: #044cf4;
    border-radius: 66px;
    position: absolute;
    z-index: -1;
    transform: rotate(47deg);
    top: -66%;
    left: 51%;
}